[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = The unprivileged ChiTang UI agent
[access "refs/*"]
	owner = group user/xtexChooser (xtexChooser)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xtexChooser (xtexChooser)
	label-Verified = -1..+1 group user/xtexChooser (xtexChooser)
	push = group user/xtexChooser (xtexChooser)
	read = group user/xtexChooser (xtexChooser)
	rebase = group user/xtexChooser (xtexChooser)
	removeReviewer = group user/xtexChooser (xtexChooser)
	submit = group user/xtexChooser (xtexChooser)
[access "refs/heads/*"]
	create = group user/xtexChooser (xtexChooser)
	push = +force group user/xtexChooser (xtexChooser)
	pushMerge = group user/xtexChooser (xtexChooser)
	read = group user/xtexChooser (xtexChooser)
[access "refs/tags/*"]
	push = group user/xtexChooser (xtexChooser)
	push = +force group user/xtexChooser (xtexChooser)
